Slider*/
body,
html {
  height: 100%;
}

body.slider__body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider__container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

.slider__page {
  position: relative;
  width: 100%;
  height: 100%;
  /*margin-left: 40px;*/
}

.slider__indicators {
  position: fixed;
  left: 18px;
  top: 50%;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider__indicator {
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px 0;
  border-radius: 100px;
  background-color: #fff;
  cursor: default;
}
.slider__indicator--active {
  opacity: 0.3;
}

/*Slide d'accueil des pages experiences, competences et recommandations*/

.title{
  display: flex;
  width: 100%;
  height: 90%;
}

.enfant{
  margin: auto;
  font-size: 116px;
  color: #FFD;
  display: flex;
}

.enfant img{
  border-radius: 300px;
  position: relative;
}

.enfant span{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
/*Menu page d'accueil (footer) des pages experiences, competences et recommandations*/

nav{
  position: absolute;
  box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
  bottom: 0px;
  width: 100%;
  height: 10%;
  background-color: #333333;
  display: flex;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a, nav a:visited {
  display: flex;
  text-decoration: none;
  color: #DFD9D9; ;
  text-transform: uppercase;
  padding: auto;
  font-size: 22px;
  margin: auto;
  transition: all 0.4s ease;
}

ul.niv_1 {
  margin: auto;
  display: flex;
  width: 100%;
  padding: 0;
  height: 60%;
}

ul.niv_1 > li {
  display: flex;
  position: relative;
  width: 25%;
}

ul.niv_1 li a:hover, ul.niv_1 li a:focus {
  font-size: 25px;
}

ul.niv_1 li{
  height: 100%;
  border-left: 1px #707070 ridge;
  border-right: 1px #707070 ridge;
  box-shadow-left: 0px 1px 6px rgba(0,0,0,0.4);
  box-shadow-right: 0px 1px 6px rgba(0,0,0,0.4);
}

/*Page d'Accueil*/

body.accueil div.title div.enfant img{
  height: 600px;
  width: 600px;
  border-radius: 300px;
/*  position: relative;*/
}

body.accueil div.title div.enfant{
  margin-top: 6.5%;
  position: absolute;
  margin-left: 5%;
}

body.accueil div.title div.enfant h1{
  font-size: 100px;
  color: #333;
}

body.accueil div.title div.enfant h2{
  color: #333;
  font-size: 75px;
  margin-top: 22%;
  position: absolute;
  left: 40%;
  margin-left: 50%;
}

body.accueil div.title div.enfant h1, body.accueil div.title div.enfant h2{
  margin-left: 5%;
}

/*Titre de la page d'accueil*/
/*body div.accueil_titres{
  margin: auto;
  margin-left: 0;
}

body div.accueil_titres h1{
  margin: auto;
  font-size: 106px;
  color: #333333;
}

body div.accueil_titres h2 {
  margin: auto;
  font-size: 72px;
  color: #333333;
}*/

/*couleur du fond de l'accueil*/
body.accueil {
  background-color: #fdb372;
  margin: 0;
  padding: 0
}

/*Couleurs texte footers (tous les footers des pages d'accueil)*/
ul.niv_1 li a.lien_experiences:hover,
ul.niv_1 li a.lien_experiences:focus {
  color: #aefd72;
}

ul.niv_1 li a.lien_compétences:hover,
ul.niv_1 li a.lien_compétences:focus {
  color: #72dffd;
}

ul.niv_1 li a.lien_recommandations:hover,
ul.niv_1 li a.lien_recommandations:focus {
  color: #f672fd;
}

ul.niv_1 li a.lien_accueil:hover,
ul.niv_1 li a.lien_accueil:focus {
  color: #fdb372;
}

ul.niv_1 li a.lien_contact:hover,
ul.niv_1 li a.lien_contact:focus {
  color: #fd7272;
}
/*Slides 2 à 5 (slides de contenu)*/

/*Titres des slides 2 à 5*/
.div-title{
  margin-top: 0;
  display: flex;
  font-size: xx-large;
  width: 100%;
  height: 13%;
  box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
  color: #DFD9D9 ;
  background-color: #333333;
}

.slider-title{
  text-transform: uppercase;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px #707070 ridge;
  border-right: 1px #707070 ridge;
  box-shadow-left: 0px 1px 6px rgba(0,0,0,0.4);
  box-shadow-right: 0px 1px 6px rgba(0,0,0,0.4);
}

/*Corps des sliders 2 à 5*/
section div.contenu{
  display: flex;
}

section aside.txt{
  width: 65%;
  height: 87%;
  font-size: 18px;
  color: #000;
  padding-right: 2%;
  padding-left: 3%;
  padding-top: 4%;
  text-align: justify;
}

section aside.txt h2{
  text-align: right;
  font-size: 36px;
}

section aside.picture_exp{
  width: 25%;
  height: 87%;
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 2%;
  text-align: center;
}

section aside.picture_reco{
  width: 25%;
  height: 87%;
  padding-top: 6%;
  padding-right: 3%;
  padding-left: 2%;
  text-align: center;
}

.image{
  box-shadow: 0px 1px 11px rgba(0,0,0,0.4);
  width: 100%;
  height: auto;
  border-radius: 40px;
}

/*Sliders 2 à 4 page compétences*/
/*Titre sliders "Autres compétences" et "Langages"*/
.comp_title{
  margin-top: 0;
  display: flex;
  font-size: xx-large;
  width: 100%;
  height: 20%;
  /*color: #DFD9D9;*/
}

.slider_comp_title{
  text-transform: uppercase;
  margin: auto;
}

/*Corps slider "Langages"*/
div.lang{
display: flex;
width: 100%;
height: 80%;
margin-left: 3%;
margin-right: 3%;
}

/*Espace de liste des langages*/
aside.list_lang{
  margin: auto;
  padding: 0;
  padding-left: 10%;
  width: 20%;
  height: 80%;
}

aside.list_lang ul{
  list-style-type: none;
  font-size: xx-large;
  text-align: right;
  margin: 0;
}

/*Espace des barrres*/
div.barre_lang{
  margin: auto;
  padding: 0;
  padding-left: 5%;
  width: 80%;
  height: 80%;
  font-size: x-large;
}

div.barre_lang ul{
  list-style-type: none;
  margin: 0;
}

/*Barres*/
div.barre_lang ul img{
  margin-bottom: 0.75%;
}

/*Corps slider "Autres compétences"*/

ul.list_comp_sec{
  position: absolute;
  display: block;
  width: 92%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul.list_comp_sec li{
  font-size: 22px;
  text-decoration: none;
  text-align: justify;
}

div.comp_sec{
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 3%;
  height: 80%;
}

/*Titres slider "Qualités et défauts"*/
.quali_def_title{
  display: flex;
  width: 100%;
  height: 20%;
}

/*Titre pour "Qualités" et "Défauts" */
.quali_title, .def_title{
  margin: auto;
  display: flex;
  font-size: xx-large;
  width: 50%;
  height: 20%;
}

.slider_quali_title, .slider_def_title{
  text-transform: uppercase;
  margin: auto;
}

/*Corps slider qualités et défauts*/
div.qualites_defauts{
  display: flex;
  height: 80%;
  width: 100%;
}

div.qualites, div.defauts{
  margin: auto;
  width: 50%;
  height: 80%;
  font-size: 32px;
}

div.qualites ul, div.defauts ul{
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.qualites{
  border-right: 1px #B1B1B1 ridge;
  box-shadow-right: 0px 1px 6px rgba(0,0,0,0.4);
}

div.defauts{
  border-left: 1px #B1B1B1 ridge;
  box-shadow-left: 0px 1px 6px rgba(0,0,0,0.4);
}

/*couleurs du background (pages expériences)*/
section.exp1{
  background: linear-gradient(#aefd72, #8FCF5D);
}
section.exp2{
  background: linear-gradient(#8FCF5D, #6FA049);
}
section.exp3{
  background: linear-gradient(#6FA049, #547B36);
}
section.exp4{
  background: linear-gradient(#547B36, #385F1A);
}

/*couleurs du background et du texte (pages compétences)*/
section.comp1{
  background: linear-gradient(#69D4F1, #5CBBD5);
  color: #F0EEEE;
}
section.comp2{
  background: linear-gradient(#5CBBD5, #4995AA);
  color: #F0EEEE;
}
section.comp3{
  background: linear-gradient(#4995AA, #387A8C);
  color: #F0EEEE;
}

/*couleurs du background (pages recommandations)*/
section.reco1{
  background: linear-gradient(#f672fd, #D763DE);
}
section.reco2{
  background: linear-gradient(#D763DE, #B654BC);
}
section.reco3{
  background: linear-gradient(#B654BC, #9F4AA4);
}
section.reco4{
  background: linear-gradient(#9F4AA4, #803085);
}

/*Police d'écriture*/

*{
  font-family: 'Roboto', sans-serif;
}

/*Responsive*/

@media(min-width: 1328px) and (max-width: 1510px){
  div.barre_lang img#htmlcss{
    margin-bottom: 50px;
  }
}

@media(min-width: 100px) and (max-width: 1500px){
  body.accueil div.title div.enfant h2{
    font-size: 50px;
    left: 50%;
  }

  body.accueil div.title div.enfant h1{
    font-size: 75px;
    top: 20%;
  }
}

@media(max-height: 800px){
  body.accueil div.title div.enfant img{
    height: 400px;
    width: 400px;
  }
}

@media(min-width: 480px) and (max-width: 600px){
  body.accueil div.title div.enfant img{
    height: 400px;
    width: 400px;
  }
  
  .enfant{
    font-size: 28px;
  }

  .enfant img{
    width:120px;
  }

  .div-title, .comp_title, .quali_title, .def_title{
    font-size: medium;
  }

  section aside.txt h2 {
    font-size: 20px;
  }

  ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    font-size: 10px;
  }

  section aside.txt{

  font-size: 13px;
  overflow: auto;
  height: 130px;
  margin-top: 15px;
  padding-top: 0;
  padding-left: 40px;
  }

  section.reco1 aside.txt, section.reco2 aside.txt, section.reco3 aside.txt, section.reco4 aside.txt{
    padding-top: 15px;
  }

  section aside.picture_reco{
    padding-top: 11%;
  }

  nav a, nav a:visited{
    font-size: 10px;
  }

  aside.list_lang ul{
    font-size: large;
  }

  div.comp_sec {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul.list_comp_sec{
    width: 87%;
    padding-left: 20px;
    height: 130px;
    overflow: auto;
  }
  ul.list_comp_sec li{
    font-size: 13px;
  }

  div.qualites, div.defauts {
    font-size: 12px;
  }

}

@media(min-width: 600px) and (max-width: 768px){
  body.accueil div.title div.enfant img{
    height: 400px;
    width: 400px;
  }

  .enfant{
    font-size: 28px;
  }

  .enfant img{
    width:120px;
  }

  .div-title, .comp_title, .quali_title, .def_title{
    font-size: medium;
  }

  section aside.txt h2 {
    font-size: 20px;
  }

  ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    font-size: 10px;
  }

  section aside.txt{

  font-size: 13px;
  overflow: auto;
  height: 130px;
  margin-top: 30px;
  padding-top: 0;
  padding-left: 40px;
  }

  section.reco1 aside.txt, section.reco2 aside.txt, section.reco3 aside.txt, section.reco4 aside.txt{
    padding-top: 15px;
  }

  section aside.picture_reco{
    padding-top: 11%;
  }

  nav a, nav a:visited{
    font-size: 10px;
  }

  aside.list_lang ul{
    font-size: large;
  }

  div.comp_sec {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul.list_comp_sec{
    width: 87%;
    padding-left: 20px;
    height: 130px;
    overflow: auto;
  }
  ul.list_comp_sec li{
    font-size: 13px;
  }

  div.qualites, div.defauts {
    font-size: 12px;
  }

}

@media(min-width: 768px) and (max-width: 900px){
  .enfant{
    font-size: 50px;
  }

  .div-title, .comp_title, .quali_title, .def_title{
    font-size: x-large;
  }

  section aside.txt h2 {
    font-size: 24px;
  }

  ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    font-size: 16px;
  }

  section aside.txt{
    font-size: 13px;
  }

  nav a, nav a:visited{
    font-size: 16px;
  }

  aside.list_lang ul{
    font-size: large;
  }

  div.comp_sec {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul.list_comp_sec{
    width: 87%;
    padding-left: 20px;
  }
  ul.list_comp_sec li{
    font-size: 13px;
  }

  div.qualites, div.defauts {
    font-size: 18px;
  }

}

@media(min-width: 900px) and (max-width: 1100px){
  .enfant{
    font-size: 60px;
  }

  .div-title, .comp_title, .quali_title, .def_title{
    font-size: x-large;
  }

  section aside.txt h2 {
    font-size: 28px;
  }

  ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    font-size: 16px;
  }

  section aside.txt{
    font-size: 15px;
    padding-top: 10px;
  }

  nav a, nav a:visited{
    font-size: 16px;
  }

  aside.list_lang ul{
    font-size: large;
  }

  div.comp_sec {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul.list_comp_sec{
    width: 87%;
    padding-left: 20px;
  }
  ul.list_comp_sec li{
    font-size: 15px;
  }

  div.qualites, div.defauts {
    font-size: 24px;
  }

}

@media(min-width: 1100px) and (max-width: 1328px){
/*  body.accueil div.title div.enfant h1{
    font-size: 50px;
  }*/

  .enfant{
    font-size: 84px;
  }

  .div-title, .comp_title, .quali_title, .def_title{
    font-size: xx-large;
  }

  section aside.txt h2 {
    font-size: 34px;
  }

  ul.niv_1 li a:hover, ul.niv_1 li a:focus {
    font-size: 20px;
  }

  section aside.txt{
    font-size: 18px;
  }

  nav a, nav a:visited{
    font-size: 18px;
  }

  aside.list_lang ul{
    font-size: large;
  }

  div.comp_sec {
    padding-left: 5%;
    padding-right: 5%;
  }

  ul.list_comp_sec{
    width: 87%;
    padding-left: 20px;
  }
  ul.list_comp_sec li{
    font-size: 19px;
  }

  div.qualites, div.defauts {
    font-size: 26px;
  }

}

